#root {
  max-width: 1280px;
  /* margin: 0 auto; */
  /* padding: 2rem; */
  /* text-align: center; */
}

  /* .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  } */

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  img {
    animation: linear infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

@media  (min-width: 370px) or (min-width: 480px) {
  .bac{
    margin-top:3%;
    /* margin-left: 10%; */
    height: 95%;
    width: 100%;
    background-color: gray;
  }
  .bac1{
    margin-top:50%;
    margin-left: 40%;

  }
  /* .can11{ style={{ flexDirection: "row", textAlign:'center', marginLeft:'3rem', display: "flex",justifyContent: "center", alignItems: "center", border: "1px solid #ccc", borderRadius: "10px", width: "60%",  height: "5rem" }}} */
  .can11{
    width: 90%;
    height: auto;
    margin-left: 5%;
    flex-direction: column;
    text-align: center;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    /* width: 60%; */
  }
  .mleft{
    margin-left: 10%;
  }

  .gri1{
    grid: 100%;
    grid-template-columns: auto ;
    grid-column: auto;
    grid-row: auto auto;
  }
  .gri2{
    grid: 100%;
    grid-template-columns: 1fr 1fr;
    grid-column: 1/2;
    grid-row: 1 2 3;
  }
  .can2{
    width: 70%;
    height: auto;
    margin-left: 15%;
  }
  .hi2{
    margin-left: 10%;
    margin-top: 20%;
    height: 50%;
  }
}
